<a href="https://colab.research.google.com/github/sundarjhu/EscueladeVerano_2021/blob/main/Escuela_de_Verano_2021_Demo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Accessing data from SIMBAD, demonstrating ADQL basics**
---



---

In [1]:
from astropy.table import Table, join
import numpy as np
!pip install pyvo
import pyvo as vo

Collecting pyvo
  Downloading pyvo-1.1-py3-none-any.whl (802 kB)
     |████████████████████████████████| 802 kB 3.6 MB/s
Collecting mimeparse
  Downloading mimeparse-0.1.3.tar.gz (4.4 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pyvo) (2.23.0)
Requirement already satisfied: astropy in /usr/local/lib/python3.7/dist-packages (from pyvo) (4.2.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from astropy->pyvo) (1.19.5)
Requirement already satisfied: pyerfa in /usr/local/lib/python3.7/dist-packages (from astropy->pyvo) (2.0.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pyvo) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pyvo) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pyvo) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pyvo) (1.24.3)
Building wheels for collected packages: mimeparse
  Building wheel for mimeparse (setup.py) ... done
  Created wheel for mimeparse: filename=mimeparse-0.1.3-py3-none-any.whl size=3864 sha256=27664e073e89a2c2cf15546d4ae3747a06baf4af8a407ac82c6bafe54b67cbf2
  Stored in directory: /root/.cache/pip/wheels/49/b4/2d/0081759ae1833bd694024801f7aacddcda8a687e8d5fbaeebd
Successfully built mimeparse
Installing collected packages: mimeparse, pyvo
Successfully installed mimeparse-0.1.3 pyvo-1.1

## Create a table of source identifiers, save to VOTable. This will serve as input for our queries.

In [2]:
id = ['lam Vel', 'IRAS 16205-2626', 'eta Car', 'alp Cen', 'IRC +10216'] #unique identifiers for three stars
hemisphere = ['Southern', 'Southern', 'Southern', 'Southern', 'Northern'] #which celestial hemisphere?
input_tab = Table([id, hemisphere], names = ('ID', 'hemisphere'))
input_tab.pprint()
input_tab.write('input_tab.vot', format = 'votable', overwrite = True)

       ID       hemisphere
--------------- ----------
        lam Vel   Southern
IRAS 16205-2626   Southern
        eta Car   Southern
        alp Cen   Southern
     IRC +10216   Northern

### Automatically obtain the url for the SIMBAD TAP server by doing a regsearch using PyVO

In [3]:
r = vo.regsearch(servicetype = 'tap', keywords = ['Simbad'])
SIMBAD_service = r[0].service

WARNING: UnknownElementWarning: None:3:1106: UnknownElementWarning: Unknown element mirrorURL [pyvo.utils.xml.elements]
WARNING: UnknownElementWarning: None:125:4415: UnknownElementWarning: Unknown element mirrorURL [pyvo.utils.xml.elements]
WARNING: UnknownElementWarning: None:125:4732: UnknownElementWarning: Unknown element mirrorURL [pyvo.utils.xml.elements]
WARNING: UnknownElementWarning: None:125:5044: UnknownElementWarning: Unknown element mirrorURL [pyvo.utils.xml.elements]
WARNING: UnknownElementWarning: None:125:5344: UnknownElementWarning: Unknown element mirrorURL [pyvo.utils.xml.elements]

In [4]:
# This is the url to the TAP server
SIMBAD_service.baseurl

'http://simbad.u-strasbg.fr:80/simbad/sim-tap'

In [5]:
#Select all columns from the first row of basic data
query = """ SELECT top 1 * FROM basic """ # change "1" to any number to view that many rows in the output
results = SIMBAD_service.search(query).to_table() #submit the ADQL query to the SIMBAD TAP server, and convert the response into an astropy table
results.colnames
#You can use this to inspect the column names and their content in the table

['coo_bibcode',
 'coo_err_angle',
 'coo_err_maj',
 'coo_err_maj_prec',
 'coo_err_min',
 'coo_err_min_prec',
 'coo_qual',
 'coo_wavelength',
 'dec_prec',
 'galdim_angle',
 'galdim_bibcode',
 'galdim_majaxis',
 'galdim_majaxis_prec',
 'galdim_minaxis',
 'galdim_minaxis_prec',
 'galdim_qual',
 'hpx',
 'morph_bibcode',
 'morph_qual',
 'morph_type',
 'nbref',
 'oid',
 'otype',
 'plx_bibcode',
 'plx_err',
 'plx_err_prec',
 'plx_prec',
 'plx_qual',
 'plx_value',
 'pm_bibcode',
 'pm_err_angle',
 'pm_err_maj',
 'pm_err_maj_prec',
 'pm_err_min',
 'pm_err_min_prec',
 'pm_qual',
 'pmdec',
 'pmdec_prec',
 'pmra',
 'pmra_prec',
 'ra_prec',
 'rvz_bibcode',
 'rvz_err',
 'rvz_err_prec',
 'rvz_nature',
 'rvz_qual',
 'rvz_radvel',
 'rvz_radvel_prec',
 'rvz_redshift',
 'rvz_redshift_prec',
 'rvz_type',
 'sp_bibcode',
 'sp_qual',
 'sp_type',
 'update_date',
 'vlsr',
 'main_id',
 'otype_txt',
 'ra',
 'dec']

In [6]:
#How many rows are there in this table?
query = """ select count(coo_bibcode) as NUMROWS from basic"""
results = SIMBAD_service.search(query).to_table() #submit the ADQL query to the SIMBAD TAP server, and convert the response into an astropy table
results

<Table length=1>
numrows
 int64
--------
11898086

In [7]:
#HEY, waitaminit! I asked for the column to be in all caps, why isn't it?
#Because ADQL is case-insensitive unless you enclose the argument in quotes
query = """ select count(coo_bibcode) as "NUMROWS" from basic"""
results = SIMBAD_service.search(query).to_table() #submit the ADQL query to the SIMBAD TAP server, and convert the response into an astropy table
results

<Table length=1>
NUMROWS
 int64
--------
11898086

In [8]:
#SUBSETS with WHERE: How many rows are there in this table with DEC < 0?
query = """ select count(coo_bibcode) as NUMROWS from basic WHERE dec < 0"""
results = SIMBAD_service.search(query).to_table() #submit the ADQL query to the SIMBAD TAP server, and convert the response into an astropy table
results

query = """ select top 100 coo_bibcode as NUMROWS from basic WHERE dec < 0"""
results = SIMBAD_service.search(query).to_table() #submit the ADQL query to the SIMBAD TAP server, and convert the response into an astropy table
results

<Table length=100>
      numrows
       object
-------------------
2013yCat.2319....0L
2018yCat.1345....0G
2018ATel11731....1P
2013MNRAS.428.1281J
2018yCat.1345....0G
2018yCat.1345....0G
2013MNRAS.428.1281J

2018yCat.1345....0G
2018yCat.1345....0G
                ...
2012yCat.1322....0Z
2013MNRAS.428.1281J
2013MNRAS.428.1281J
2003yCat.2246....0C
2013yCat.2319....0L
2018yCat.1345....0G
2018yCat.1345....0G
2018yCat.1345....0G
2018yCat.1345....0G
2018yCat.1345....0G

# There are three important tables in SIMBAD: `basic`, `ident`, and `ids`. 

# `basic` contains the basic information for each source (positions, velocities, photometry, redshift, etc.). If a source is known by many names, there is an entry for EACH such name recognized by SIMBAD.

# Each source in these tables is identified by a unique identifier, a long integer called *oid* (in `basic`) and *oidref* (in `ident`, `ids`). You can connect a source to its various names using these two columns.

# You can obtain a list of references for the sources in the same way using the tables `ref` and `has_ref`.

In [9]:
# Get some information from the basic table for the object with name 'CW Leo', which is NOT its standard SIMBAD name.
#
query = """
-- Basic data from an object given one of its identifiers.
SELECT basic.OID,
       RA,
       DEC,
       main_id AS "Main identifier",
       coo_bibcode AS "Coord Reference",
       nbref AS "NbReferences",
       plx_value as "Parallax",
       rvz_radvel as "Radial velocity",
       galdim_majaxis,
       galdim_minaxis,
       galdim_angle AS "Galaxy ellipse angle"
FROM basic JOIN ident ON oidref = oid
WHERE id = 'CW Leo'
"""
results = SIMBAD_service.search(query).to_table()
results

<Table length=1>
  oid       ra        dec    ... galdim_minaxis Galaxy ellipse angle
           deg        deg    ...     arcmin             deg
 int64   float64    float64  ...    float32            int16
------- ---------- --------- ... -------------- --------------------
1657507 146.989193 13.278768 ...             --                   --

### Get all the identifiers for one source

In [10]:
query = """select t0.main_id, t1.id, t2.ids from basic as t0, ident as t1, ids as t2 where t0.oid = t1.oidref and t1.id = 'CW Leo' and t1.oidref = t2.oidref"""
results = SIMBAD_service.search(query).to_table()
results

<Table length=1>
 main_id   ...
  object   ...
---------- ...
IRC +10216 ...

# How to upload a table!
### Get all the identifiers for a list of sources

In [11]:
input_tab

<Table length=5>
       ID       hemisphere
     str15         str8
--------------- ----------
        lam Vel   Southern
IRAS 16205-2626   Southern
        eta Car   Southern
        alp Cen   Southern
     IRC +10216   Northern

In [12]:
query = """select mytable.id, t2.ids from mytable, ident as t1, ids as t2 where t1.id = mytable.ID and t1.oidref = t2.oidref"""
results = SIMBAD_service.search(query, uploads = {'mytable': 'input_tab.vot'}).to_table()
results

<Table length=5>
       ID       ...
     object     ...
--------------- ...
        lam Vel ...
IRAS 16205-2626 ...
        eta Car ...
        alp Cen ...
     IRC +10216 ...

# Simple cone search
>## In this example, we select the location RA = 10 deg, DEC = 5 deg, and search for SIMBAD matches within a 1 deg radius of it.
>## We arrange the results in ascending order of angular distance using the DISTANCE function.

In [82]:
query = """
-- Display basic data about objects contained in a given circle and whose mag B < 9.0.
SELECT basic.OID,
       RA,
       DEC,
       DISTANCE(POINT('ICRS', RA, DEC), POINT('ICRS', 10, 5)) * 60 as dist_arcmin,
       main_id AS "Main identifier",
       coo_bibcode AS "BiblioReference",
       nbref AS "NbReferences",
       plx_value as "Parallax",
       rvz_radvel as "Radial velocity",
       galdim_majaxis,
       galdim_minaxis,
       galdim_angle AS "Galaxy ellipse angle"
FROM basic JOIN flux ON oidref = oid
WHERE filter = 'B'
      AND flux < 9.0
      AND CONTAINS(POINT('ICRS', RA, DEC), CIRCLE('ICRS', 10, 5, 1)) = 1
ORDER BY dist_arcmin
"""
results = SIMBAD_service.search(query).to_table()
results

<Table length=3>
  oid          ra              dec       ... galdim_minaxis Galaxy ellipse angle
              deg              deg       ...     arcmin             deg
 int64      float64          float64     ...    float32            int16
------- ---------------- --------------- ... -------------- --------------------
1404715 10.2080007087009 4.4783143611205 ...             --                   --
1404698  9.2379259243896 5.4125099414372 ...             --                   --
1414548 10.6367082889976 5.6753557257451 ...             --                   --

# Cone search for list of sources in an input table
>## In this example, we select the locations (RA, DEC) specified for a list of sources in an input table and search for SIMBAD matches within a 1 arcmin radius of each position.
>## For each source in the input table, the matches are arranged in ascending order of angular separation using the DISTANCE function. The ORDER BY clause is used to first arrange the results in order of the unique identifier, then (for each unique identifer) by increasing match distance.

In [83]:
id = [1000001, 1000012, 1005016, 1052200] #some unique long-integer identifier
RA = [74.2, 159.4, 55.5, 355.959]
DEC = [44.6, -13.39, 62.7, 3.209]
input_table = Table([id, RA, DEC], names = ('ID', 'RA', 'DEC'))
input_table.write('input_tab.vot', format = 'votable', overwrite = True)

#Notice how the match radius is no longer hard-coded. We can change the radius outside
#   of the query string as follows. The query string changes in an automated fashion.
#   This is useful if we need to change the match radius outside the code block
#   that contains the query. It can then be fed as an argument to the query block.
match_radius = '2.0 / 60' #the match radius is set to 2 arc minutes.

query = """
SELECT a.ID, a.RA, a.DEC, main_id as "Main identifier", 
  b.RA AS matched_RA, b.DEC AS matched_DEC, coo_bibcode AS "Coord_BibRef",
  DISTANCE(POINT('ICRS', b.RA, b.DEC), POINT('ICRS', a.RA, a.DEC)) * 60 AS dist_arcmin,
  nbref AS "NbReferences", plx_value AS "Parallax",
  rvz_radvel AS "Radial velocity"
FROM mytable a LEFT JOIN basic b
ON CONTAINS(POINT('ICRS', b.RA, b.DEC), CIRCLE('ICRS', a.RA, a.DEC, """ + match_radius + """)) = 1
ORDER BY ID, dist_arcmin
"""

results = SIMBAD_service.search(query, uploads = {'mytable': 'input_tab.vot'}).to_table()
results

<Table length=4>
   ID      RA     DEC   ... NbReferences Parallax  Radial velocity
                        ...                mas          km / s
 int64  float64 float64 ...    int32     float64       float64
------- ------- ------- ... ------------ -------- ------------------
1000001    74.2    44.6 ...            6       -- 10444.549540259291
1000012   159.4  -13.39 ...          289      4.8              -25.8
1005016    55.5    62.7 ...           --       --                 --
1052200 355.959   3.209 ...            1   3.1122                 --

# Cone search for list of sources using a virtual input table
>## This example uses the same data as the previous one; the only difference is that it avoids writing to (or reading from) a file, and doesn't require an actual file to be passed as input to the query. Instead, we use a byte stream through the BytesIO method.

In [92]:
id = [1000001, 1000012, 1005016, 1052200] #some unique long-integer identifier
RA = [74.2, 159.4, 55.5, 355.959]
DEC = [44.6, -13.39, 62.7, 3.209]
input_table = Table([id, RA, DEC], names = ('ID', 'RA', 'DEC'))

#This is the only part of the code above that changes
from io import BytesIO
from astropy.io import votable
votable_object = BytesIO()
votable.writeto(votable.from_table(input_table), votable_object)
votable_object.seek(0)
#The rest of the code remains the same, except that we feed as input
# to the query not the VOTable file, but the VOTable object.

match_radius = str(2.0 / 60) #the match radius is set to 2 arc minutes.

query = """
SELECT a.ID, a.RA, a.DEC, main_id as "Main identifier", 
  b.RA AS matched_RA, b.DEC AS matched_DEC, coo_bibcode AS "Coord_BibRef",
  DISTANCE(POINT('ICRS', b.RA, b.DEC), POINT('ICRS', a.RA, a.DEC)) * 60 AS dist_arcmin,
  nbref AS "NbReferences", plx_value AS "Parallax",
  rvz_radvel AS "Radial velocity"
FROM mytable a LEFT JOIN basic b
ON CONTAINS(POINT('ICRS', b.RA, b.DEC), CIRCLE('ICRS', a.RA, a.DEC, """ + match_radius + """)) = 1
ORDER BY ID, dist_arcmin
"""

#The following line has changed
results = SIMBAD_service.search(query, uploads = {'mytable': votable_object}).to_table()
results

<Table length=4>
   ID      RA     DEC   ... NbReferences Parallax  Radial velocity
                        ...                mas          km / s
 int64  float64 float64 ...    int32     float64       float64
------- ------- ------- ... ------------ -------- ------------------
1000001    74.2    44.6 ...            6       -- 10444.549540259291
1000012   159.4  -13.39 ...          289      4.8              -25.8
1005016    55.5    62.7 ...           --       --                 --
1052200 355.959   3.209 ...            1   3.1122                 --

>## The above method is useful when we're dealing with large tables and/or we want to manipulate the table columns before feeding it to the search, without affecting the original table.

In [104]:
id = [1000001, 1000012, 1005016, 1052200] #some unique long-integer identifier
RA = [74.2, 159.4, 55.5, 355.959]
DEC = [44.6, -13.39, 62.7, 3.209]

#Some extra columns that make the table somewhat larger than before
Facility = ['Butter Glider', 'Magic Murder Bag', 'Vacuum Boom-Broom', 'The Revenge Society']
Saturated = [True, True, False, True]
ObsDate = ['2016', '2015', '1999', '2016']
Observer = ['Fitzcarraldo, Malcolm', 'Killinger, Henry', 'Venture, Thaddeus S.', 'Fântomas, Hamilton G.']
input_table = Table([id, RA, DEC, Facility, Saturated, ObsDate, Observer], \
                    names = ('ID', 'RA', 'DEC', 'Facility', 'Saturated', 'ObsDate', 'Observer'))

from io import BytesIO
from astropy.io import votable
votable_object = BytesIO()
#This line has changed. Note how only the necessary columns are being written to the VOTable object.
votable.writeto(votable.from_table(input_table['ID', 'RA', 'DEC']), votable_object)
votable_object.seek(0)

match_radius = str(5.0 / 60) #the match radius is set to 5 arc minutes.

query = """
SELECT a.ID, a.RA, a.DEC, main_id as "Main identifier", 
  b.RA AS matched_RA, b.DEC AS matched_DEC, coo_bibcode AS "Coord_BibRef",
  DISTANCE(POINT('ICRS', b.RA, b.DEC), POINT('ICRS', a.RA, a.DEC)) * 60 AS dist_arcmin,
  nbref AS "NbReferences", plx_value AS "Parallax",
  rvz_radvel AS "Radial velocity"
FROM mytable a LEFT JOIN basic b
ON CONTAINS(POINT('ICRS', b.RA, b.DEC), CIRCLE('ICRS', a.RA, a.DEC, """ + match_radius + """)) = 1
ORDER BY ID, dist_arcmin ASC
"""

results = SIMBAD_service.search(query, uploads = {'mytable': votable_object}).to_table()

#If needed, we can now add back the columns we ignored in the input table
"""IMPORTANT NOTE: the query results table MUST be the first argument to the join command in order to retain the ordering of distance.
  You can verify that this order isn't always preserved if input_table is used as the first argument by changing the line below.
"""
output_table = join(results, input_table, keys = ['ID', 'RA', 'DEC'], join_type = 'left')
output_table

<Table length=18>
   ID      RA     DEC   ... Saturated ObsDate        Observer
                        ...
 int64  float64 float64 ...    bool     str4          str21
------- ------- ------- ... --------- ------- ---------------------
1000001    74.2    44.6 ...      True    2016 Fitzcarraldo, Malcolm
1000001    74.2    44.6 ...      True    2016 Fitzcarraldo, Malcolm
1000001    74.2    44.6 ...      True    2016 Fitzcarraldo, Malcolm
1000001    74.2    44.6 ...      True    2016 Fitzcarraldo, Malcolm
1000001    74.2    44.6 ...      True    2016 Fitzcarraldo, Malcolm
1000001    74.2    44.6 ...      True    2016 Fitzcarraldo, Malcolm
1000012   159.4  -13.39 ...      True    2015      Killinger, Henry
1000012   159.4  -13.39 ...      True    2015      Killinger, Henry
1005016    55.5    62.7 ...     False    1999  Venture, Thaddeus S.
1005016    55.5    62.7 ...     False    1999  Venture, Thaddeus S.
1005016    55.5    62.7 ...     False    1999  Venture, Thaddeus S.
1005016    55.5    62.7 ...     False    1999  Venture, Thaddeus S.
1005016    55.5    62.7 ...     False    1999  Venture, Thaddeus S.
1005016    55.5    62.7 ...     False    1999  Venture, Thaddeus S.
1052200 355.959   3.209 ...      True    2016 Fântomas, Hamilton G.
1052200 355.959   3.209 ...      True    2016 Fântomas, Hamilton G.
1052200 355.959   3.209 ...      True    2016 Fântomas, Hamilton G.
1052200 355.959   3.209 ...      True    2016 Fântomas, Hamilton G.

## Selecting only the nearest-neighbour match for each source in the above example
> ### Since we've already arranged the matches in ascending order of distance, and performed the join using the query results as the first argument, we simply select the first entry for each source. This can be implemented using `numpy`'s `unique` method.

In [105]:
_, u = np.unique(output_table['ID'], return_index = True)
output_table[u]

<Table length=4>
   ID      RA     DEC   ... Saturated ObsDate        Observer
                        ...
 int64  float64 float64 ...    bool     str4          str21
------- ------- ------- ... --------- ------- ---------------------
1000001    74.2    44.6 ...      True    2016 Fitzcarraldo, Malcolm
1000012   159.4  -13.39 ...      True    2015      Killinger, Henry
1005016    55.5    62.7 ...     False    1999  Venture, Thaddeus S.
1052200 355.959   3.209 ...      True    2016 Fântomas, Hamilton G.